li.AnErrorHasOccured
{
  background: #f00;
}
li
{
 border: 2px solid black;
 border-radius: 5px;
 margin-bottom: 5px;
}

#mainForm{
    width: 350px;
    height: 80vh;
    border: 2px solid black;
    margin-left: 36.7%;
    border-radius: 20px;
    left: 10px;
  
}
